{% extends 'base.html.twig' %}

{% block body %}
{{ form(form) }}
<table class="table table-success table-striped mt-5">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>

        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for categorie in categories %}


        <tr>
            <th scope="row">{{  categorie.id  }}</th>
            <td>{{  categorie.nom  }}</td>

            <td><a href="{{ path('editCategorie', {'id': categorie.id}) }}" class="btn btn-info">Modifier</a>
                <a href="{{ path('deleteCategorie', {'id': categorie.id }) }}" onclick="return confirm('Etes-vous sûr?')" class="btn btn-danger">Supprimer</a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock %}

{% block title %}
{{ parent() }}Gestion catégorie
{% endblock %}

